<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/theme.js"></script>
</head>
<body id="inicio">
    <header class="navbar navbar-inverse normal" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Mi Logo</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acerca de nosotros <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Quiénes somos</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="nosotros.html#filosofia">Filosofía</a></li>
                                <li><a href="nosotros.html#valores">Valores</a></li>
                            </ul>
                        </li>
                        <li><a href="nosotros.html#mision">Misión / Visión</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="servicios.html#diagnosticos-de-ecoeficiencia">Diagnósticos de ecoeficiencia</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="servicios.html#diagnosticos-de-eficiencia-energetica">Diagnósticos de eficiencia energética</a></li>
                                <li><a href="servicios.html#uso-sostenible-del-agua">Uso sostenible del agua</a></li>
                                <li><a href="servicios.html#disposicion-de-residuos-y-reciclaje">Disposición de residuos y reciclaje</a></li>
                                <li><a href="servicios.html#capacitaciones">Capacitaciones</a></li>
                                <li><a href="servicios.html#auditoria">Auditoría</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="servicios.html#responsabilidad-social">Responsabilidad Social</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="servicios.html#">Para que lo llene Raquel</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="servicios.html#linea-de-credito-ambiental">Línea de crédito ambiental</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="servicios.html#">Para conversar con tus amigas</a></li>
                            </ul>
                        </li>
                        <li><a href="servicios.html#green-it">Green IT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="equipo.html#equipo" class="dropdown-toggle" data-toggle="dropdown">Equipo <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="equipo.html#daniela">Daniela</a></li>
                        <li><a href="equipo.html#raquel">Raquel</a></li>
                        <li><a href="equipo.html#luis">Luis</a></li>
                    </ul>
                </li>

                <li><a href="contactenos.html">Contáctenos</a></li>
            </ul>
        </nav>
    </div>
</header>

    <div id="header">
        <div class="container">
            <h1 class="header-text animated fadeInDown">
                The best interfaces <br>
                for your web &amp; mobile apps
            </h1>
            <p class="sub-text animated fadeInDown">
                Get a complete existing website with great design up and running in no time.
            </p>
            <div class="cta animated fadeInDown">
                <a class="button-outline" href="features.html">See the tour</a>
                <a class="button" href="signup.html">Sign up free</a>
            </div>
            <!-- Imagen en el header a la derecho -- opcional-->
            <div class="img"></div>
        </div>
    </div>

    <div id="nombre-de-empresa">
        <div class="container">
            <div class="row feature">
                <div class="col-md-6 info">
                    <h4>Nombre de empresa</h4>
                    <div class="divider"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at felis vitae massa condimentum mattis.
                        Nunc arcu purus, interdum ut placerat et, euismod in mauris. Morbi ultricies egestas nisi,
                        at volutpat risus viverra non. Integer nec eros lectus. Nulla facilisi. Etiam sit amet malesuada nulla,
                        vel adipiscing neque. Sed non ullamcorper lectus. Proin ligula orci, bibendum blandit dolor et,
                        accumsan ultricies nisi. Mauris non tempor erat. Aenean congue gravida arcu, non faucibus nulla ullamcorper eget.
                        Curabitur rhoncus varius ipsum a egestas. Suspendisse in porta metus. Maecenas pretium dapibus diam,
                        consectetur elementum magna fringilla ac. Vestibulum auctor diam tortor, nec pharetra leo tempus sed.
                        Phasellus nec augue erat.
                    </p>
                </div>
                <div class="col-md-6 image">
                    <!-- Se sugiere imagenes 402x242-->
                    <img style="width: 402px; height: 242px" alt="feature1" class="img-responsive" src="http://www.fondoswiki.com/Uploads/fondoswiki.com/Resoluciones/877-1920x1080.jpg">
                </div>
            </div>

        </div>
    </div>

    <div id="compatibilidad">
        <div class="container">
            <div class="row header">
                <div class="col-md-12">
                    <h3>Compatibilidad</h3>
                    <div class="divider"></div>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="funcionalidades">
        <div class="container">
                <div class="col-sm-6">
                    <h4>Funcionalidades</h4>
                    <div class="divider"></div>
                    <p>
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h4>Beneficios</h4>
                    <div class="divider"></div>
                    <p>
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                    </p>
                </div>
        </div>
    </div>

    <div id="footer-white">
        <div class="container">
            <div class="row">
                <div class="divider"></div>
                <div class="col-sm-3 menu">
                    <h3>Acerca de nosotros</h3>
                    <ul>
                        <li>
                            <a href="nosotros.html#quienes-somos">Quiénes somos</a>
                            <ul>
                                <li>
                                    <a href="nosotros.html#filosofia">Filosofía</a>
                                </li>
                                <li>
                                    <a href="nosotros.html#valores">Valores</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="nosotros.html#mision">Misión / Visión</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 menu">
                    <h3>Servicios</h3>
                    <ul>
                        <li>
                            <a href="servicios.html#diagnosticos-de-ecoeficiencia">Diagnósticos de ecoeficiencia</a>
                            <ul>
                                <li><a href="servicios.html#diagnosticos-de-eficiencia-energetica">Diagnósticos de eficiencia energética</a></li>
                                <li><a href="servicios.html#uso-sostenible-del-agua">Uso sostenible del agua</a></li>
                                <li><a href="servicios.html#disposicion-de-residuos-y-reciclaje">Disposición de residuos y reciclaje</a></li>
                                <li><a href="servicios.html#capacitaciones">Capacitaciones</a></li>
                                <li><a href="servicios.html#auditoria">Auditoría</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="servicios.html#responsabilidad-social">Responsabilidad Social</a>
                            <ul>
                                <li><a href="#">Para que lo llene Raquel</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="servicios.html#linea-de-credito-ambiental">Linea de crédito ambiental</a>
                            <ul>
                                <li><a href="#">Para conversar con tus amigas</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="features.html#green-it">Green IT</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 menu">
                    <h3>Equipo</h3>
                    <ul>
                        <li>
                            <a href="equipo.html#daniela">Daniela</a>
                        </li>
                        <li>
                            <a href="equipo.html#raquel">Raquel</a>
                        </li>
                        <li>
                            <a href="equipo.html#luis">Luis</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 menu">
                    <h3>
                        <a href="contactenos.html">Contactenos</a>
                    </h3>
                </div>
            </div>
            <div class="row credits">
                <div class="col-md-12">&copy; 2014</div>
            </div>
        </div>
    </div>

</body>
</html>