<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>React - Bootstrap Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- stylesheets -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    <!-- javascript -->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/theme.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="nosotros">
<header class="navbar navbar-inverse normal" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Mi Logo</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acerca de nosotros <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Quiénes somos</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="nosotros.html#filosofia">Filosofía</a></li>
                                <li><a href="nosotros.html#valores">Valores</a></li>
                            </ul>
                        </li>
                        <li><a href="nosotros.html#mision">Misión / Visión</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="servicios.html#servicios" class="dropdown-toggle" data-toggle="dropdown">Servicios <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="servicios.html#diagnosticos-de-ecoeficiencia">Diagnósticos de ecoeficiencia</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="servicios.html#diagnosticos-de-eficiencia-energetica">Diagnósticos de eficiencia energética</a></li>
                                <li><a href="servicios.html#uso-sostenible-del-agua">Uso sostenible del agua</a></li>
                                <li><a href="servicios.html#disposicion-de-residuos-y-reciclaje">Disposición de residuos y reciclaje</a></li>
                                <li><a href="servicios.html#capacitaciones">Capacitaciones</a></li>
                                <li><a href="servicios.html#auditoria">Auditoría</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="servicios.html#responsabilidad-social">Responsabilidad Social</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="servicios.html#">Para que lo llene Raquel</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="servicios.html#linea-de-credito-ambiental">Línea de crédito ambiental</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="servicios.html#">Para conversar con tus amigas</a></li>
                            </ul>
                        </li>
                        <li><a href="servicios.html#green-it">Green IT</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="equipo.html#equipo" class="dropdown-toggle" data-toggle="dropdown">Equipo <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="equipo.html#daniela-hurtado">Daniela Hurtado</a></li>
                        <li><a href="equipo.html#raquel">Raquel</a></li>
                        <li><a href="equipo.html#luis-ibarra">Luis M Ibarra</a></li>
                    </ul>
                </li>

                <li><a href="contactenos.html">Contáctenos</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="acerca-de-nosotros">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h3>Acerca de nosotros</h3>
                <p>
                    You have to roll up your sleeves and be a stonecutter before you can become a sculptor – command of craft always precedes art.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="quienes-somos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Quiénes somos</h1>
                <p>
                    Somos bla bla bla!!!
                </p>
            </div>
        </div>
        <div class="row">
            <div id="filosofia" class="col-md-6">
                <h2>Filosofia</h2>
                <p>
                    Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
                </p>
                <p>
                    You have complete control over the look & feel of your website, we offer the best quality so you take your site up and running in no time.
                </p>
            </div>
            <div id="valores" class="col-md-6">
                <h2>Valores</h2>
                <p>
                    React is a simple, developer-friendly way to get your site. Full of features, cool documentation ease of use, lots of pages. We want to help bringing cool stuff to people so they can get their projects faster.
                </p>
            </div>
        </div>
        <div class="row">
            <div id="mision" class="col-md-6">
                <h2>Misión</h2>
                <p>
                    Whether you want to fill this paragraph with some text like I'm doing right now, this place is perfect to describe some features or anything you want - React has a complete solution for you.
                </p>
                <p>
                    You have complete control over the look & feel of your website, we offer the best quality so you take your site up and running in no time.
                </p>
            </div>
            <div id="vision" class="col-md-6">
                <h2>Visión</h2>
                <p>
                    React is a simple, developer-friendly way to get your site. Full of features, cool documentation ease of use, lots of pages. We want to help bringing cool stuff to people so they can get their projects faster.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="footer-white">
    <div class="container">
        <div class="row">
            <div class="divider"></div>
            <div class="col-sm-3 menu">
                <h3>Acerca de nosotros</h3>
                <ul>
                    <li>
                        <a href="nosotros.html#quienes-somos">Quiénes somos</a>
                        <ul>
                            <li>
                                <a href="nosotros.html#filosofia">Filosofía</a>
                            </li>
                            <li>
                                <a href="nosotros.html#valores">Valores</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="nosotros.html#mision">Misión / Visión</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 menu">
                <h3>Servicios</h3>
                <ul>
                    <li>
                        <a href="servicios.html#diagnosticos-de-ecoeficiencia">Diagnósticos de ecoeficiencia</a>
                        <ul>
                            <li><a href="servicios.html#diagnosticos-de-eficiencia-energetica">Diagnósticos de eficiencia energética</a></li>
                            <li><a href="servicios.html#uso-sostenible-del-agua">Uso sostenible del agua</a></li>
                            <li><a href="servicios.html#disposicion-de-residuos-y-reciclaje">Disposición de residuos y reciclaje</a></li>
                            <li><a href="servicios.html#capacitaciones">Capacitaciones</a></li>
                            <li><a href="servicios.html#auditoria">Auditoría</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="servicios.html#responsabilidad-social">Responsabilidad Social</a>
                        <ul>
                            <li><a href="#">Para que lo llene Raquel</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="servicios.html#linea-de-credito-ambiental">Linea de crédito ambiental</a>
                        <ul>
                            <li><a href="#">Para conversar con tus amigas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="features.html#green-it">Green IT</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 menu">
                <h3>Equipo</h3>
                <ul>
                    <li>
                        <a href="equipo.html#daniela-hurtado">Daniela Hurtado</a>
                    </li>
                    <li>
                        <a href="equipo.html#raquel">Raquel</a>
                    </li>
                    <li>
                        <a href="equipo.html#luis-ibarra">Luis M Ibarra</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 menu">
                <h3>
                    <a href="contactenos.html">Contactenos</a>
                </h3>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">&copy; 2014</div>
        </div>
    </div>
</div>


</body>
</html>